extends ../layout.pug

block content
  .statuses-content-container(style='position: relative; min-height: 60px;')
    if success && success.filter(Boolean).length
      each msg in success.filter(Boolean)
        div.alert.alert-success.mt-3(style='position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 60%; z-index: 10; background: #e3f2fd; color: #1976d2; border: 1px solid #90caf9; margin-bottom: 18px; box-shadow: 0 2px 8px rgba(0,0,0,0.07);')= msg
    if error && error.filter(Boolean).length
      each msg in error.filter(Boolean)
        div.alert.alert-danger.mt-3(style='position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 60%; z-index: 10; margin-bottom: 18px; box-shadow: 0 2px 8px rgba(0,0,0,0.07);')= msg
    h1= t('statuses.index.title')
    a.btn.btn-primary(href="/statuses/new")= t('statuses.index.createStatus')
    table.table.table-striped.mt-3
      thead
        tr
          th= t('statuses.index.name')
          // th(style='text-align: right; padding-right: 32px;')= t('statuses.index.actions')
      tbody
        each status, i in statuses
          tr
            td(class=`${['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'][i]} status`)= status.name
            td(style='text-align: right; white-space: nowrap;')
              div.d-inline-flex.align-items-center.gap-1
                a.btn.btn-sm.btn-outline-primary(href=`/statuses/${status.id}/edit`)= t('users.index.edit')
                form(action=`/statuses/${status.id}/delete`, method='POST', style='display:inline; margin:0;')
                  button.btn.btn-sm.btn-status-delete(type='submit' style='background: #fff; color: #e57373; border: 1px solid #e57373;')= t('statuses.index.delete')