extends ../layout

block content
block content
  if error && error.length
    div.alert.alert-danger.mt-3= error[0]
  h1= t('labels.index.newLabel')
  form(action='/labels', method='POST')
    .mb-3
      label.form-label(for='name')= t('labels.index.name')
      input.form-control(type='text', name='data[name]', id='name', value=(typeof name !== 'undefined' ? name : ''))
      if msg
        div.invalid-feedback(style='display:block; margin-left:8px;')= msg
    .mb-3
      label.form-label(for='description')= t('labels.index.description')
      textarea.form-control(id='description', name='description')= typeof description !== 'undefined' ? description : ''
    button.btn.btn-primary(type='submit')= t('create')
