extends ../layout.pug

block content
  span#labels-placeholder(style='position: absolute; left: 0; right: 0; top: 0; bottom: 0; color: #bbb; text-align: center; pointer-events: none; font-size: 1em; display: flex; align-items: center; justify-content: center; z-index: 0;') drag labels here

block content
  h1= t('tasks.index.newTask')
  if error && error.length
    each msg in error
      .alert.alert-danger= msg
  if success && success.length
    each msg in success
      .alert.alert-success(style='background: #e3f2fd; color: #1976d2; border: 1px solid #90caf9;')= msg

  form(method='post', action='/tasks')
    .form-group
      label(for='name')= t('tasks.index.name')
      input#name.form-control(type='text', name='name', required, value=task.name || '')
    .form-group
      label(for='description')= t('tasks.index.description')
      textarea#description.form-control(name='description')= task.description || ''
    .form-group
      label(for='data_statusId')= t('tasks.index.status')
      select#data_statusId.form-control(name='status_id', required)
        option(value='')= t('tasks.index.statusPlaceholder')
        each status in statuses
          option(value=status.id selected=(task.status_id==status.id))= status.name
    .form-group
      label(for='data_executorId')= t('tasks.index.executor')
      select#data_executorId.form-control(name='executorId')
        option(value='')= t('tasks.index.notAssigned' || 'Not assigned')
        each user in users
          option(value=user.id selected=(task.executorId==user.id))= user.firstName + ' ' + user.lastName
    .form-group
      label(for='data_labels')= t('tasks.index.labels')
      select#data_labels.form-control(name='labels')
        option(value='')= t('tasks.index.noLabel' || 'No label')
        if labels && labels.length
          each label in labels
            option(value=label.id selected=(task.labels && task.labels.includes(label.id)))= label.name
        span(style='color: #bbb;') Нет меток
    .mt-4
      button.btn.btn-primary(type='submit') Создать
      a.btn.btn-secondary.ms-2(href='/tasks') Отмена