extends ../layout.pug

block content
  .statuses-content-container(style='position: relative; min-height: 60px;')
    if success && success.filter(Boolean).length
      each msg in success.filter(Boolean)
        div.alert.alert-success.mt-3(style='position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 60%; z-index: 10; background: #e3f2fd; color: #1976d2; border: 1px solid #90caf9; margin-bottom: 18px; box-shadow: 0 2px 8px rgba(0,0,0,0.07);')= msg
    if error && error.filter(Boolean).length
      each msg in error.filter(Boolean)
        div.alert.alert-danger.mt-3(style='position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 60%; z-index: 10; margin-bottom: 18px; box-shadow: 0 2px 8px rgba(0,0,0,0.07);')= msg
    h1= t('statuses.index.title')
    a.btn.btn-primary(href="/statuses/new")= t('statuses.index.createStatus')
    table.table.table-striped.mt-3
      thead
        tr
          th= t('statuses.index.name')
          th= t('statuses.index.actions')
      tbody
        each status, i in statuses
          tr
            td(class=`${['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'][i]} status`)= status.name
            td
              a.btn.btn-sm(href=`/statuses/${status.id}/edit`, style='margin-right: 8px; background: #fff3cd; color: #856404; border: 1px solid #ffeeba;')= t('users.index.Edit')
              form(action=`/statuses/${status.id}/delete`, method='POST', style='display:inline;')
                button.btn.btn-sm(type='submit' style='background: #e3f2fd; color: #1976d2; border: 1px solid #90caf9;')= t('statuses.index.delete')
