extends ../layout

block content
  h1= t('layouts.application.users')
  if users.length
    table.table.table-striped.table-hover.mt-4
      thead
        tr
          if typeof currentLang !== 'undefined' && currentLang === 'ru'
            th Имя
            th
            th
          else
            th Name
            th
            th
      tbody
        each user in users
          tr
            td
              | #{user.firstName} #{user.lastName}
            if user.role === 'user' && currentUser && currentUser.role === 'admin'
              td(colspan=2)
                .d-flex.gap-2.justify-content-end
                  if typeof currentLang !== 'undefined' && currentLang === 'ru'
                    a.btn.btn-sm.btn-outline-primary(href=`/users/${user.id}/edit?lang=ru`)= 'Редактировать'
                  else
                    a.btn.btn-sm.btn-outline-primary(href=`/users/${user.id}/edit?lang=en`)= 'Edit'
                  form(action=`/users/${user.id}?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`, method='post', style='display: inline;')
                    input(type='hidden', name='_method', value='delete')
                    if typeof currentLang !== 'undefined' && currentLang === 'ru'
                      button.btn.btn-sm(type='submit' style='background: #fff; color: #e57373; border: 1px solid #e57373;') Удалить
                    else
                      button.btn.btn-sm(type='submit' style='background: #e3f2fd; color: #1976d2; border: 1px solid #90caf9;') Delete
            else
              td
              td
  else
    div.alert.alert-info.mt-4= t('noUsersYet')