extends ../layout.pug

block content
  h1 Tasks
  form(method="get" action="/tasks" class="row g-3 mb-4")
    .col-md-3
      label.form-label(for="status") Status
      select.form-select(name="status" id="status")
        option(value="") All
        if statuses && statuses.length
          each status in statuses
            option(value=status.id selected=(status.id == query.status))= status.name
    .col-md-3
      label.form-label(for="executor") Executor
      select.form-select(name="executor" id="executor")
        option(value="") All
        if users && users.length
          each user in users
            option(value=user.id selected=(user.id == query.executor))= user.name
    .col-md-3
      label.form-label(for="label") Label
      select.form-select(name="label" id="label")
        option(value="") All
        if labels && labels.length
          each label in labels
            option(value=label.id selected=(label.id == query.label))= label.name
    .col-md-3.d-flex.align-items-end
      div.form-check
        input.form-check-input(type="checkbox" name="my" id="my" checked=(query.my ? true : false))
        label.form-check-label(for="my") Only my tasks
      button.btn.btn-primary.ms-3(type="submit") Filter
  if error.length
    each msg in error
      .alert.alert-danger= msg
  if success.length
    each msg in success
      .alert.alert-success= msg
  if currentUser
    a.btn.btn-primary(href=`/tasks/new?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`) New Task
  if !currentUser && !tasks.length
    if currentLang === 'ru'
      div.alert.alert-info.mt-4 Залогиньтесь, чтобы добавить задачи
    else
      div.alert.alert-info.mt-4 Sign in to add tasks
  else
    table.table.table-bordered.mt-3
      thead
        tr
          th Name
          th Status
          th Creator
          th Executor
          th Actions
      tbody
        if tasks.length
          each task in tasks
            tr
              td
                a(href=`/tasks/${task.id}?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`)= task.name
                if task.labels && task.labels.length
                  ul.list-inline.mt-2
                    each label in task.labels
                      li.list-inline-item.badge.bg-info.text-dark= label.name
              td= task.status ? task.status.name : ''
              td= task.creator ? task.creator.name : ''
              td= task.executor ? task.executor.name : ''
              td
                if currentUser
                  a.btn.btn-sm.btn-secondary(href=`/tasks/${task.id}/edit?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`) Edit
                  if currentUser.id === task.creatorId
                    form(method='post', action=`/tasks/${task.id}?_method=delete&lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`, style='display:inline')
                      button.btn.btn-sm.btn-danger(type='submit') Delete
        else
          tr
            td(colspan='5') No tasks found
