extends ../layout

block content
  h1 Users
  if users.length
    ul
      each user in users
        li
          a(href=`/users/${user.id}?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`)= `${user.firstName} ${user.lastName}`
          |  
          a(href=`/users/${user.id}/edit?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`) Edit
          |  
          form(action=`/users/${user.id}?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`, method='post', style='display: inline;')
            input(type='hidden', name='_method', value='delete')
            button(type='submit') Delete
  else
  div.alert.alert-info.mt-4= t('No users yet')