extends ../layout

block content
  h1 Users
  a(href='/users/new') New User
  if users.length
    ul
      each user in users
        li
          a(href=`/users/${user.id}`)= `${user.firstName} ${user.lastName}`
          |  
          a(href=`/users/${user.id}/edit`) Edit
          |  
          form(action=`/users/${user.id}`, method='post', style='display: inline;')
            input(type='hidden', name='_method', value='delete')
            button(type='submit') Delete
  else
  div.alert.alert-info.mt-4= t('No users yet')