extends ../layout.pug

block content
  .d-flex.justify-content-start.align-items-start(style='min-height:20vh;')
    .w-100(style='max-width:600px;')
      h1.mb-4 Labels
      .d-flex.justify-content-start.mb-3
        a.btn.btn-primary(href=`/labels/new?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`) New Label
      if labels && labels.length
        table.table.table-striped.mt-3
          thead
            tr
              th Name
              th Actions
          tbody
            each label in labels
              tr
                td= label.name
                td
                  a.btn.btn-sm.btn-outline-secondary(href=`/labels/${label.id}/edit?lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`) Edit
                  form(action=`/labels/${label.id}?_method=DELETE&lang=${typeof currentLang !== 'undefined' ? currentLang : 'en'}`, method="post", style="display:inline;")
                    button.btn.btn-sm.btn-danger(type="submit") Delete
      else
        p.text-muted.mt-4 No labels found.
