extends ../layout.pug

block content
  h1= task.name
  if error.length
    each msg in error
      .alert.alert-danger= msg
  if success.length
    each msg in success
      .alert.alert-success(style='background: #e3f2fd; color: #1976d2; border: 1px solid #90caf9;')= msg
  ul.list-group
    li.list-group-item
      strong Description:
      |  #{task.description || 'No description'}
    li.list-group-item
      strong Status:
      |  #{task.status ? task.status.name : ''}
    li.list-group-item
      strong Creator:
      |  #{task.creator ? task.creator.name : ''}
    li.list-group-item
      strong Executor:
      |  #{task.executor ? task.executor.name : 'Not assigned'}
    li.list-group-item
      strong Labels:
      if task.labels && task.labels.length
        ul.list-inline.mt-2
          each label in task.labels
            li.list-inline-item.badge.bg-info.text-dark= label.name
      else
        |  No labels
  a.btn.btn-secondary.mt-3(href='/tasks') Back to list
  if currentUser
    a.btn.btn-primary.mt-3(href=`/tasks/${task.id}/edit`) Edit
    if currentUser.id === task.creatorId
      form(method='post', action=`/tasks/${task.id}?_method=delete`, style='display:inline')
          button.btn.btn-sm(type='submit' style='background: #e3f2fd; color: #1976d2; border: 1px solid #90caf9;')= t('layouts.application.delete')
